
{{ template "header.html" . }}
<div id="content">
	<nav id="lists">
		<a href="/edit">edit</a> |
		<a href="/logout">logout</a>
	</nav>
	
	<form class="login" id="myForm">

			<input type="number" name="id" value={{ .User.UID }} style="visibility:hidden;"></input>


		<div class="form-group">
			<label> First Name </label>
			<input type="text" name="fName" value={{ .User.FName }}></input>
		</div>

		<div class="form-group">
			<label> Last Name </label>
			<input type="text" name="lName" value={{ .User.LName }}></input>
		</div>


		<div class="form-group">
			<label> Email </label>
			{{ if eq "gauth" .User.RegistrationType  }}
				<input type="email" name="email" value={{ .User.Email}} readonly ></input>
				{{ else }}
				<input type="email" name="email" value={{ .User.Email }} ></input>
				{{ end }}

		</div>


		<div class="form-group">
			<label> Phone </label>
			<input type="text" name="phone" value={{ .User.Phone }}></input>
		</div>


		<div class="form-group">
			<label> Address </label>
			<input type="text" name="address" value={{ .User.Address}}></input>
		</div>

		<button type="button" onclick="update()">Save & Continue</button>
		<button type="button" onclick="location.href='/'">Cancel</button>

	</form>



</div>
{{ template "footer.html" . }}

