<html>
<head>                         
  <title> The demo profile app </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="web/css/stylesheet.css">
  <script src="web/scripts/script.js"></script>
	<META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Pragma" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<script language="JavaScript" type="text/javascript">
		    window.history.forward();              
 </script>
</head>                        
<body> 
  <div  id="container" class="container">
    <div class="banner">       
			<header><a href="/"><h2>DemoApp<h2></a></header>
			{{ if .Message }}
      <hr class="seperator">
			<div id="errormessage" style=" background: #ddbdbd; ">
				<p> {{ .Message }}  </p>
			</div>

			{{ end }}


    </div>

