{{ template "header.html" . }}

<div id="content">

	<h3> Login with Google</h3>
	<a href="/glogin"><img style=" height: 5em; width: 5.2em;"	 src="web/static/google.png"></img></a>
	<h3> Login </h3>
	<form class="login" method="post" action="/login">
		<div class="form-group">
		<label> username </label>
		<input type="email" name="email" required></input>
		</div>
		<div class="form-group">
		<label> password </label>
		<input type="password" name="password" required></input>
		</div>
		<div class="form-group">
		<label> Submit </label>
		<input type="submit" value="login"></input> 
		</div>
	</form>
	<a href="/forgotpassword">forgot password</a>

	<hr>

	<h3>New users <a href="/signup">sign-up</a></h3>

</div>


{{ template "footer.html" . }}
