{{ template "header.html" . }}

<div id="content">
	<p> Enter the username to reset your password </p>
	<form method="POST" action="/resetform">
		<input type="email" name="email" required></input>
		<input type="submit" value="send reset link"><input type=button value="Back to login" onclick="location.href='/';">
	</form>
</div>

{{ template "footer.html" . }}
