{{ template "header.html" . }}
<div id="content">
	<nav id="lists">
		<a href="/edit">edit</a> |
		<a href="/logout">logout</a>
	</nav>


	<table id="profdisplay">
		<tbody>
			<tr><td id="userid" style=" visibility: hidden; ">{{ .User.UID }} </td></tr>
			<tr><td>First Name</td><td>{{ .User.FName }} </td></tr>
			<tr><td>Last Name</td><td>{{ .User.LName }} </td></tr>
			<tr><td>Email </td> <td> {{ .User.Email }} </td></tr>
			<tr><td>Phone </td> <td> {{ .User.Phone}} </td></tr>
			<tr><td>Address</td> <td> {{ .User.Address }} </td></tr>

		</tbody>
	</table>

</div>
{{ template "footer.html" . }}
