{{ template "header.html" . }}

<div id="content">
	<form id=myForm> 
		<input type="email" name="uid" value={{ .User.UID }} style="visibility: hidden;"></input>
		<input type="password" name="password"></input>
		<input type="password" name="passwordconf"></input>
		<input type="button" value="reset password" onclick="resetpwd()">
	</form>
</div>

	<script>
		function resetpwd(){
	data = Array.from(document.querySelectorAll('#myForm input'));
	let obj = {};
	for (i of data) {
		obj[i.name] = i.value
	}
	if (obj.passwordconf != obj.password){
		alert("passwords does not match");
		return;
	}

	if (obj.password == "" ) {
		alert("password cannot be empty");
		return;
	}
	delete obj.passwordconf 
	fetch("/api/resetpwd", {
		method: 'post',
		body: JSON.stringify(obj),
		credentials: 'include'
	}).then (function (response) {
		location.href="/";
	})
		}
	</script>

{{ template "footer.html" . }}
