{{ template "header.html" . }}

<div id="content">

	<h3> Sign up with Google</h3>
	<a href="/glogin"><img style=" height: 5em; width: 5.2em;"	 src="web/static/google.png"></img></a>

	<h2>OR </h2>
	<h3> Signup with your Email</h3>
	<form class="login" id="myForm" method="post" action="/register">
		<div class="form-group">
		<label> Email Address</label>
		<input type="email" name="email" required></input>
		</div>
		<div class="form-group">
		<label> Password </label>
		<input type="password" name="password" required></input>
		</div>

		<div class="form-group">
		<label> Confirm Password </label>
		<input type="password" name="passConfirm" required></input>
		</div>


		<div class="form-group">
		<label> Submit </label>
		<button type="submit" onclick="register()">SignUp</button> 
		</div>
	</form>


</div>


{{ template "footer.html" . }}
