
body{
	background-color: #f3f3f3;
	color: #555555;
	font-family: Arial, Helvetic, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6em;
}

#content a{
	font-size: 20px;
	color: blue;
}

#container {
	width: 80%;
	margin:auto;
}

#content {
	background-color: #333;
	color: #fff;
	height: 100%;
	padding:20px;
}

.login {
	padding-top: 5%;
}

.login .form-group {
	padding-bottom: 15px;
}

.login label {
	display: block;
}

#profdisplay{
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding-left: 10%;
    padding-top: 10%;
}
